<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/common/common.css">
    <link rel="stylesheet" href="../css/common/header.css">
    <link rel="stylesheet" href="../css/common/navbar.css">
    <link rel="stylesheet" href="../css/page/employee.css">
    <link rel="stylesheet" href="../css/common/content.css">
    <link rel="stylesheet" href="../css/common/toolbar.css">
    <link rel="stylesheet" href="../css/common/grid.css">
    <link rel="stylesheet" href="../lib/jquery-ui-1.12.1/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <div id="toast"></div>
    <div class="btn-dbclick" style="display: none;">
        <button class="m-btn btn-modify">Modify</button>
        <button class="m-btn btn-delete">Delete</button>
    </div>
    <div class="dark-background popup-background hidden"></div>
    <div class="popup popup-warning-size middle hidden">
        <div class="popup-header">
            <div class="btn-close-popup">
                <button class="btn-close"></button>
            </div>
            <div class="popup-header-title">
                <span>Đóng form thông tin chung</span>
            </div>
        </div>
        <div class="popup-warning-content">
            <div class="popup-warning-content__icon"></div>
            <div class="popup-warning-content__text">
                <span>
                    Bạn có chắc muốn đóng form nhập <b>"Thông tin chung của thủ tục 603"</b> hay không?
                </span>
            </div>
        </div>
        <div class="popup-footer">
            <button class="m-btn btn-cancel">Tiếp tục nhập</button>
            <button class="m-btn btn-save">
                <span>Đóng</span>
            </button>
        </div>
    </div>
    <div class="dark-background dialog-background hidden"></div>
    <div class="dialog middle hidden">
        <div class="dialog-header">
            <div class="dialog-header-title">
                <span>Thông tin nhân viên</span>
            </div>
            <div class="btn-close-dialog">
                <button class="btn-close close-dialog"></button>
            </div>
        </div>
        <div class="dialog-content">
            <div class="emp-avatar">
                <div class="emp-avatar-img"></div>
                <div class="emp-avatar-info">
                    <span>(Vui lòng chọn ảnh đại diện có định dạnh .jpg, .jpge, .png, .gif)</span>
                </div>
            </div>
            <div class="emp-info">
                <div class="emp-info-content">
                    <div class="emp-info-general-title">
                        <span>A. Thông tin chung:</span>
                        <div class="title-line"></div>
                    </div>
                    <div class="emp-info-general">
                        <div class="emp-info-general-left">
                            <div class="emp-info-general-item">
                                <p>Mã nhân viên (<span>*</span>)</p>
                                <div class="tooltip">
                                    <input type="text" tabindex="1" id="txtEmployeeCode" class="employee-code" required>
                                    <span class="tooltiptext" style="display: none;">Trường này không được phép để
                                        trống</span>
                                </div>
                            </div>
                            <div class="emp-info-general-item">
                                <p>Ngày sinh</p>
                                <input type="date" tabindex="3" id="dtDateOfBirth" class="date-of-birth">
                            </div>
                            <div class="emp-info-general-item">
                                <p>Số CMTND/ Căn cước (<span>*</span>)</p>
                                <div class="tooltip">
                                    <input type="number" tabindex="5" id="nbIdentityNumber" required>
                                    <span class="tooltiptext" style="display: none;">Trường này không được phép để
                                        trống</span>
                                </div>
                            </div>
                            <div class="emp-info-general-item">
                                <p>Nơi cấp</p>
                                <input type="text" tabindex="7" id="txtIdentityPlace">
                            </div>
                            <div class="emp-info-general-item">
                                <p>Email (<span>*</span>)</p>
                                <div class="tooltip">
                                    <input class="email" type="email" tabindex="8" id="txtEmail"
                                        placeholder="examples@gmail.com" required>
                                    <span class="tooltiptext" style="display: none;">Trường này không được phép để
                                        trống</span>
                                </div>

                            </div>
                        </div>
                        <div class="emp-info-general-right">
                            <div class="emp-info-general-item">
                                <p>Họ và tên (<span>*</span>)</p>
                                <div class="tooltip">
                                    <input type="text" tabindex="2" id="txtFullName" required>
                                    <span class="tooltiptext" style="display: none;">Trường này không được phép để
                                        trống</span>
                                </div>
                            </div>
                            <div class="emp-info-general-item">
                                <p>Giới tính </p>
                                <div class="formadd-select-box formadd-select-box-gender">
                                    <button class="btn-select-box btn-combobox-gender">
                                        <div class="select-box-icon">
                                            <i class="fas fa-chevron-down"></i>
                                        </div>
                                    </button>
                                    <input class="select-box-text" value="" id="rdGender" autocomplete="off"
                                        tabindex="4"></input>
                                    <div class="combobox-box combobox-box-gender hidden">
                                        <!-- <div class="combobox-item combobox-item-first">
                                            <div class="combobox-item__icon"></div>
                                            <input type="radio" id="radio-gender-1" name="radio-gender"
                                                value="Nam"></input>
                                            <label for="radio-gender-1">Nam</label>
                                        </div>
                                        <div class="combobox-item">
                                            <div class="combobox-item__icon"></div>
                                            <input type="radio" id="radio-gender-2" name="radio-gender"
                                                value="Nữ"></input>
                                            <label for="radio-gender-2">Nữ</label>
                                        </div>
                                        <div class="combobox-item combobox-item-last">
                                            <div class="combobox-item__icon"></div>
                                            <input type="radio" id="radio-gender-3" name="radio-gender"
                                                value="Bede"></input>
                                            <label for="radio-gender-3">Bede</label>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="emp-info-general-item">
                                <p>Ngày cấp </p>
                                <input type="date" tabindex="6" id="txtIdentityDate">
                            </div>
                            <div class="emp-info-general-item">
                                <p style="visibility: hidden;">Số điện thoại (<span>*</span>)</p>
                                <input type="number" style="visibility: hidden;">
                            </div>
                            <div class="emp-info-general-item">
                                <p>Số điện thoại (<span>*</span>)</p>
                                <div class="tooltip">
                                    <input type="text" tabindex="9" id="nbPhoneNumber" required>
                                    <span class="tooltiptext" style="display: none;">Trường này không được phép để
                                        trống</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="emp-info-general-title">
                        <span>B. Thông tin công việc:</span>
                        <div class="title-line"></div>
                    </div>
                    <div class="emp-info-job">
                        <div class="emp-info-general">
                            <div class="emp-info-general-left">
                                <div class="emp-info-general-item">
                                    <p>Vị trí</p>
                                    <div class="formadd-select-box formadd-select-box-position">
                                        <button class="btn-select-box btn-combobox-addposition">
                                            <div class="select-box-icon">
                                                <i class="fas fa-chevron-down"></i>
                                            </div>
                                        </button>
                                        <input class="select-box-text" value="" id="txtPosition" autocomplete="off"
                                            tabindex="10"></input>

                                        <div class="combobox-box combobox-box-addposition hidden">
                                            <!-- <div class="combobox-item combobox-item-first">
                                                <div class="combobox-item__icon"></div>
                                                <input type="radio" id="radio-addposition-1" name="radio-addposition"
                                                    value="Giám đốc"></input>
                                                <label for="radio-addposition-1">Giám đốc</label>
                                            </div>
                                            <div class="combobox-item">
                                                <div class="combobox-item__icon"></div>
                                                <input type="radio" id="radio-addposition-2" name="radio-addposition"
                                                    value="Phó giám đốc"></input>
                                                <label for="radio-addposition-2">Phó giám đốc</label>
                                            </div>
                                            <div class="combobox-item">
                                                <div class="combobox-item__icon"></div>
                                                <input type="radio" id="radio-addposition-3" name="radio-addposition"
                                                    value="Trưởng phòng"></input>
                                                <label for="radio-addposition-3">Trưởng phòng</label>
                                            </div>
                                            <div class="combobox-item combobox-item-last">
                                                <div class="combobox-item__icon"></div>
                                                <input type="radio" id="radio-addposition-4" name="radio-addposition"
                                                    value="Nhân viên"></input>
                                                <label for="radio-addposition-4">Nhân viên</label>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="emp-info-general-item">
                                    <p>Mã số thuế cá nhân</p>
                                    <input type="number" tabindex="12" id="nbPersonalTaxCode">
                                </div>
                                <div class="emp-info-general-item">
                                    <p>Ngày gia nhập công ty</p>
                                    <input type="date" tabindex="14" id="dtJoinDate">
                                </div>
                            </div>
                            <div class="emp-info-general-right">
                                <div class="emp-info-general-item">
                                    <p>Phòng ban</p>
                                    <div class="formadd-select-box formadd-select-box-department">
                                        <button class="btn-select-box btn-combobox-adddepartment">
                                            <div class="select-box-icon">
                                                <i class="fas fa-chevron-down"></i>
                                            </div>
                                        </button>
                                        <input class="select-box-text" value="" id="txtDepartment" autocomplete="off"
                                            tabindex="11"></input>

                                        <div class="combobox-box combobox-box-adddepartment hidden">
                                            <!-- <div class="combobox-item combobox-item-first">
                                                <div class="combobox-item__icon"></div>
                                                <input type="radio" id="radio-adddepartment-1"
                                                    name="radio-adddepartment" value="Phòng hành chính" checked></input>
                                                <label for="radio-adddepartment-1">Phòng hành chính</label>
                                            </div>
                                            <div class="combobox-item">
                                                <div class="combobox-item__icon"></div>
                                                <input type="radio" id="radio-adddepartment-2"
                                                    name="radio-adddepartment" value="Phòng nhân sự"></input>
                                                <label for="radio-adddepartment-2">Phòng nhân sự</label>
                                            </div>
                                            <div class="combobox-item">
                                                <div class="combobox-item__icon"></div>
                                                <input type="radio" id="radio-adddepartment-3"
                                                    name="radio-adddepartment" value="Ban quản lý"></input>
                                                <label for="radio-adddepartment-3">Ban quản lý</label>
                                            </div>
                                            <div class="combobox-item combobox-item-last">
                                                <div class="combobox-item__icon"></div>
                                                <input type="radio" id="radio-adddepartment-4"
                                                    name="radio-adddepartment" value="Phòng điều hành"></input>
                                                <label for="radio-adddepartment-4">Phòng điều hành</label>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="emp-info-general-item">
                                    <p>Mức lương cơ bản</p>
                                    <input type="number" tabindex="13" maxlength="10" id="nbSalary">
                                    <div class="salary-currency">(VND)</div>
                                </div>
                                <div class="emp-info-general-item">
                                    <p>Tình trạng công việc</p>
                                    <div class="formadd-select-box formadd-select-box-workstatus">
                                        <button class="btn-select-box btn-combobox-workstatus">
                                            <div class="select-box-icon">
                                                <i class="fas fa-chevron-down"></i>
                                            </div>
                                        </button>
                                        <input class="select-box-text" value="" id="txtWorkStatus" autocomplete="off"
                                            tabindex="15"></input>
                                        <div class="combobox-box combobox-box-workstatus hidden">
                                            <!-- <div class="combobox-item combobox-item-first">
                                                <div class="combobox-item__icon"></div>
                                                <input type="radio" id="radio-workstatus-1" name="radio-workstatus"
                                                    value="Đang làm việc"></input>
                                                <label for="radio-workstatus-1">Đang làm việc</label>
                                            </div>
                                            <div class="combobox-item">
                                                <div class="combobox-item__icon"></div>
                                                <input type="radio" id="radio-workstatus-2" name="radio-workstatus"
                                                    value="Thực tập sinh"></input>
                                                <label for="radio-workstatus-2">Thực tập sinh</label>
                                            </div>
                                            <div class="combobox-item combobox-item-last">
                                                <div class="combobox-item__icon"></div>
                                                <input type="radio" id="radio-workstatus-3" name="radio-workstatus"
                                                    value="Đã nghỉ việc"></input>
                                                <label for="radio-workstatus-3">Đã nghỉ việc</label>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dialog-footer">
            <button class="m-btn btn-cancel btn-cancel-dialog">Hủy</button>
            <button class="m-btn btn-save" id="btnSave">
                <i class="far fa-save"></i>
                <span>Lưu</span>
            </button>
        </div>
    </div>
    <div class="navbar">
        <div class="navbar-content">
            <a class="nav-item" href="#">
                <div class="nav-item-icon">
                    <i class="fas fa-chart-pie"></i>
                </div>
                <div class="nav-item-text">Tổng quan</div>
            </a>
            <a class="nav-item" href="#">
                <div class="nav-item-icon">
                    <i class="far fa-chart-bar"></i>
                </div>
                <div class="nav-item-text">Báo cáo</div>
            </a>
            <a class="nav-item" href="#">
                <div class="nav-item-icon">
                    <i class="fas fa-chart-pie"></i>
                </div>
                <div class="nav-item-text">Mua hàng</div>
            </a>
            <a class="nav-item" href="customer.html">
                <div class="nav-item-icon">
                    <i class="fas fa-users"></i>
                </div>
                <div class="nav-item-text">Danh mục khách hàng</div>
            </a>
            <a class="nav-item actived" href="employee.html?page=0">
                <div class="nav-item-icon">
                    <i class="fas fa-users"></i>
                </div>
                <div class="nav-item-text">Danh mục nhân viên</div>
            </a>
            <a class="nav-item" href="#">
                <div class="nav-item-icon">
                    <i class="fas fa-cog"></i>
                </div>
                <div class="nav-item-text">Thiết lập hệ thống</div>
            </a>
        </div>
    </div>
    <div class="header">
        <div class="logo-site">
            <div class="logo-box">
                <button class="toggle-icon btn-toggle-navbar"></button>
                <div class="amis-logo"></div>
            </div>
        </div>
        <div class="select-box">
            <button class="btn-select-box btn-combobox-restaurant">
                <div class="select-box-icon">
                    <i class="fas fa-chevron-down"></i>
                </div>
            </button>
            <input class="select-box-text" value="Nhà hàng Hải Dương"></input>

            <div class="combobox-box combobox-box-restaurant hidden">
                <div class="combobox-item combobox-item-first">
                    <div class="combobox-item__icon"></div>
                    <input type="radio" id="radio-restaurant-1" name="radio-restaurant" value="Nhà hàng Hải Dương"
                        checked></input>
                    <label for="radio-restaurant-1">Nhà hàng Hải Dương</label>
                </div>
                <div class="combobox-item">
                    <div class="combobox-item__icon"></div>
                    <input type="radio" id="radio-restaurant-2" name="radio-restaurant"
                        value="Nhà hàng Hải Phòng"></input>
                    <label for="radio-restaurant-2">Nhà hàng Hải Phòng</label>
                </div>
                <div class="combobox-item combobox-item-last">
                    <div class="combobox-item__icon"></div>
                    <input type="radio" id="radio-restaurant-3" name="radio-restaurant"
                        value="Nhà hàng Quảng Ninh"></input>
                    <label for="radio-restaurant-3">Nhà hàng Quảng Ninh</label>
                </div>
            </div>
        </div>
        <div class="account-info">
            <div class="account-avatar"></div>
            <div class="account-name" value="112">Hoàng Hải Đăng</div>
            <div class="account-option">
                <i class="fas fa-ellipsis-h"></i>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="header-content">
            <div class="title">Danh sách nhân viên</div>
            <div class="content-feature">
                <button class="m-btn m-btn-default btn-add-emp">
                    <div class="icon-add">
                        <i class="fas fa-user-plus"></i>
                    </div>
                    <div class="btn-text">Thêm nhân viên</div>
                </button>
            </div>
        </div>
        <div class="filter-bar">
            <div class="filter-left">
                <i class="fas fa-search"></i>
                <input class="input-search" style="width: 250px;" type="text"
                    placeholder="Tìm kiếm theo Mã, Tên nhân viên">
            </div>
            <div class="select-box select-box-department">
                <button class="btn-select-box btn-combobox-department">
                    <div class="select-box-icon">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </button>
                <input class="select-box-text" value=""></input>
                <button class="btn-reset-select-box">
                    <i class="fas fa-times"></i>
                </button>
                <div class="combobox-box combobox-box-department hidden">
                </div>
            </div>
            <div class="select-box select-box-position">
                <button class="btn-select-box btn-combobox-position">
                    <div class="select-box-icon">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </button>
                <input class="select-box-text" value=""></input>
                <button class="btn-reset-select-box">
                    <i class="fas fa-times"></i>
                </button>
                <div class="combobox-box combobox-box-position hidden">

                </div>
            </div>
            <div clasv class="filter-right">
                <button class="m-btn-refresh m-second-button" id="btnRefresh">
                    <i class="fas fa-sync-alt"></i>
                </button>
            </div>
        </div>
        <div class="grid grid-employee">
            <table border="0" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th fieldName="EmployeeCode">Mã nhân viên</th>
                        <th fieldName="FullName">Họ và tên</th>
                        <th fieldName="Gender" formatType="gender">Giới tính</th>
                        <th fieldName="DateOfBirth" formatType="ddmmyyyy">Ngày sinh</th>
                        <th fieldName="PhoneNumber">Số điện thoại</th>
                        <th fieldName="Email">Email</th>
                        <th fieldName="PositionName">Chức vụ</th>
                        <th fieldName="DepartmentName">Phòng ban</th>
                        <th fieldName="Salary" formatType="MoneyVND">Mức lương hiện tại</th>
                        <th fieldName="Address">Địa chỉ</th>
                        <th fieldName="WorkStatus" formatType="workstatus">Tình trạng công việc</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="paging-bar">
            <div class="paging-numtotal">Hiển thị 1/1000 nhân viên</div>
            <div class="pagination">
                <a class="first-page"></a>
                <a class="pre-page"></a>
                <div class="page-number">
                    <!-- <div class="page-number-item actived">1</div>
                        <div class="page-number-item">2</div>
                        <div class="page-number-item">3</div>
                        <div class="page-number-item">4</div> -->
                </div>
                <a class="next-page"></a>
                <a class="last-page"> </a>
            </div>
            <div class="paging-current-numtotal">Hiển thị 1/10</div>
        </div>
    </div>
</body>
<script src="../lib/jquery-3.6.0.min.js"></script>
<script src="../lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
<script src="../js/common/common.js"></script>
<script src="/js/plugin/plugin.js"></script>
<script src="/js/common/toast.js"></script>
<script src="../js/base/base.js"></script>
<script src="../js/common/combobox.js"></script>
<script src="../js/page/employee.js"></script>

</html>