<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/common/main.css">
    <link rel="stylesheet" href="/css/common/header.css">
    <link rel="stylesheet" href="/css/common/navbar.css">
    <link rel="stylesheet" href="/css/page/employee.css">
    <link rel="stylesheet" href="/css/common/content.css">
    <link rel="stylesheet" href="/css/common/button.css">
    <link rel="stylesheet" href="/css/common/input.css">
    <link rel="stylesheet" href="/css/common/toolbar.css">
    <link rel="stylesheet" href="/css/common/dialog.css">
    <link rel="stylesheet" href="/css/common/grid.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <div class="dark-background dialog-background hidden"></div>
    <div class="dialog middle hidden">
        <div class="dialog-header">
            <div class="dialog-header-title">
                <span>Thông tin nhân viên</span>
            </div>
            <div class="btn-close-dialog">
                <button class="btn-close"></button>
            </div>
        </div>
        <div class="dialog-content">
            <div class="emp-avatar">
                <div class="emp-avatar-img"></div>
                <div class="emp-avatar-info">
                    <span>(Vui lòng chọn ảnh đại diện có định dạnh .jpg, .jpge, .png, .gif)</span>
                </div>
            </div>
            <div class="emp-info">
                <div class="emp-info-content">
                    <div class="emp-info-general-title">
                        <span>A. Thông tin chung:</span>
                        <div class="title-line"></div>
                    </div>
                    <div class="emp-info-general">
                        <div class="emp-info-general-left">
                            <div class="emp-info-general-item">
                                <p>Mã nhân viên (<span>*</span>)</p>
                                <input type="text" tabindex="1">
                            </div>
                            <div class="emp-info-general-item">
                                <p>Ngày sinh</p>
                                <input type="date" tabindex="3">
                            </div>
                            <div class="emp-info-general-item">
                                <p>Số CMTND/ Căn cước (<span>*</span>)</p>
                                <input type="number" tabindex="5">
                            </div>
                            <div class="emp-info-general-item">
                                <p>Nơi cấp</p>
                                <input type="text" tabindex="7">
                            </div>
                            <div class="emp-info-general-item">
                                <p>Email (<span>*</span>)</p>
                                <input class="email" type="text" tabindex="8">
                            </div>
                        </div>
                        <div class="emp-info-general-right">
                            <div class="emp-info-general-item">
                                <p>Họ và tên (<span>*</span>)</p>
                                <input type="text" tabindex="2">
                            </div>
                            <div class="emp-info-general-item">
                                <p>Giới tính </p>
                                <input type="text" tabindex="4">
                            </div>
                            <div class="emp-info-general-item">
                                <p>Ngày cấp </p>
                                <input type="date" tabindex="6">
                            </div>
                            <div class="emp-info-general-item">
                                <p style="visibility: hidden;">Số điện thoại (<span>*</span>)</p>
                                <input type="text" style="visibility: hidden;">
                            </div>
                            <div class="emp-info-general-item">
                                <p>Số điện thoại (<span>*</span>)</p>
                                <input type="text" tabindex="9">
                            </div>
                        </div>
                    </div>
                    <div class="emp-info-general-title">
                        <span>B. Thông tin công việc:</span>
                        <div class="title-line"></div>
                    </div>
                    <div class="emp-info-job">
                        <div class="emp-info-general">
                            <div class="emp-info-general-left">
                                <div class="emp-info-general-item">
                                    <p>Vị trí</p>
                                    <input type="text" tabindex="10">
                                </div>
                                <div class="emp-info-general-item">
                                    <p>Mã số thuế cá nhân</p>
                                    <input type="number" tabindex="12">
                                </div>
                                <div class="emp-info-general-item">
                                    <p>Ngày gia nhập công ty</p>
                                    <input type="date" tabindex="14">
                                </div>
                            </div>
                            <div class="emp-info-general-right">
                                <div class="emp-info-general-item">
                                    <p>Phòng ban</p>
                                    <input type="text" tabindex="11">
                                </div>
                                <div class="emp-info-general-item">
                                    <p>Mức lương cơ bản</p>
                                    <input type="number" tabindex="13">
                                </div>
                                <div class="emp-info-general-item">
                                    <p>Tình trạng công việc</p>
                                    <input type="text" tabindex="15">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dialog-footer">
            <button class="m-btn btn-cancel">Hủy</button>
            <button class="m-btn btn-save">
                <i class="far fa-save"></i>
                <span>Lưu</span>
            </button>
        </div>
    </div>
    <div class="navbar">
        <div class="logo-site">
            <div class="logo-box">
                <button class="toggle-icon btn-toggle-navbar"></button>
                <div class="amis-logo"></div>
            </div>
        </div>
        <div class="navbar-content">
            <a class="nav-item" href="#">
                <div class="nav-item-icon">
                    <i class="fas fa-chart-pie"></i>
                </div>
                <div class="nav-item-text">Tổng quan</div>
            </a>
            <a class="nav-item" href="#">
                <div class="nav-item-icon">
                    <i class="far fa-chart-bar"></i>
                </div>
                <div class="nav-item-text">Báo cáo</div>
            </a>
            <a class="nav-item" href="#">
                <div class="nav-item-icon">
                    <i class="fas fa-chart-pie"></i>
                </div>
                <div class="nav-item-text">Mua hàng</div>
            </a>
            <a class="nav-item" href="#">
                <div class="nav-item-icon">
                    <i class="fas fa-users"></i>
                </div>
                <div class="nav-item-text">Danh mục khách hàng</div>
            </a>
            <a class="nav-item actived" href="#">
                <div class="nav-item-icon">
                    <i class="fas fa-users"></i>
                </div>
                <div class="nav-item-text">Danh mục nhân viên</div>
            </a>
            <a class="nav-item" href="#">
                <div class="nav-item-icon">
                    <i class="fas fa-cog"></i>
                </div>
                <div class="nav-item-text">Thiết lập hệ thống</div>
            </a>
        </div>
    </div>
    <div class="header">
        <div class="select-restaurant">
            <select name="restaurant" id="restaurant" class="select-option">
                <option value="MS">Nhà hàng Cầu Giấy</option>
                <option value="MS">Nhà hàng Hải Dương</option>
                <option value="MS">Nhà hàng Hải Phòng</option>
            </select>
        </div>
        <div class="account-info">
            <div class="account-avatar"></div>
            <div class="account-name">Hoàng Hải Đăng</div>
            <div class="account-option">
                <i class="fas fa-ellipsis-h"></i>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="header-content">
            <div class="title">Danh sách nhân viên</div>
            <div class="content-feature">
                <button class="m-btn m-btn-default btn-add-emp">
                    <div class="icon-add">
                        <i class="fas fa-user-plus"></i>
                    </div>
                    <div class="btn-text">Thêm nhân viên</div>
                </button>
            </div>
        </div>
        <div class="filter-bar">
            <div class="filter-left">
                <i class="fas fa-search"></i>
                <input class="input-search" style="width: 200px;" type="text" placeholder="Tìm kiếm theo Mã, Tên nhân viên">

            </div>
            <div class="filter-right">
                <button class="m-btn-refresh m-second-button">
                    <i class="fas fa-sync-alt"></i>
                </button>
            </div>
        </div>
        <div class="grid grid-employee">
            <table border="0" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Mã nhân viên</th>
                        <th>Họ và tên</th>
                        <th>Giới tính</th>
                        <th>Ngày sinh</th>
                        <th>Số điện thoại</th>
                        <th>Email</th>
                        <th>Chức vụ</th>
                        <th>Phòng ban</th>
                        <th>Mức lương hiện tại</th>
                        <th>Địa chỉ</th>
                        <th>Tình trạng công việc</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>NV-289995</td>
                        <td>Hoàng Hải Đăng</td>
                        <td>Nam</td>
                        <td>7/12/2000</td>
                        <td>058954656</td>
                        <td>haidangk63@gmail.com</td>
                        <td>Nhân viên</td>
                        <td>Phòng công nghệ</td>
                        <td>1885424</td>
                        <td style="max-width: 100px;"><span width="100px">Trung Ngai 5, thi tran yen lap, Yên Lập, Phú Thọ</span></td>
                        <td>Đang thử việc</td>
                    </tr>
                    <tr>
                        <td>NV-289995</td>
                        <td>Hoàng Hải Đăng</td>
                        <td>Nam</td>
                        <td>7/12/2000</td>
                        <td>058954656</td>
                        <td>haidangk63@gmail.com</td>
                        <td>Nhân viên</td>
                        <td>Phòng công nghệ</td>
                        <td>1885424</td>
                        <td style="max-width: 100px;"><span width="100px">Trung Ngai 5, thi tran yen lap, Yên Lập, Phú Thọ</span></td>
                        <td>Đang thử việc</td>
                    </tr>
                    <tr>
                        <td>NV-289995</td>
                        <td>Hoàng Hải Đăng</td>
                        <td>Nam</td>
                        <td>7/12/2000</td>
                        <td>058954656</td>
                        <td>haidangk63@gmail.com</td>
                        <td>Nhân viên</td>
                        <td>Phòng công nghệ</td>
                        <td>1885424</td>
                        <td style="max-width: 100px;"><span width="100px">Trung Ngai 5, thi tran yen lap, Yên Lập, Phú Thọ</span></td>
                        <td>Đang thử việc</td>
                    </tr>
                    <tr>
                        <td>NV-289995</td>
                        <td>Hoàng Hải Đăng</td>
                        <td>Nam</td>
                        <td>7/12/2000</td>
                        <td>058954656</td>
                        <td>haidangk63@gmail.com</td>
                        <td>Nhân viên</td>
                        <td>Phòng công nghệ</td>
                        <td>1885424</td>
                        <td style="max-width: 100px;"><span width="100px">Trung Ngai 5, thi tran yen lap, Yên Lập, Phú Thọ</span></td>
                        <td>Đang thử việc</td>
                    </tr>
                    <tr>
                        <td>NV-289995</td>
                        <td>Hoàng Hải Đăng</td>
                        <td>Nam</td>
                        <td>7/12/2000</td>
                        <td>058954656</td>
                        <td>haidangk63@gmail.com</td>
                        <td>Nhân viên</td>
                        <td>Phòng công nghệ</td>
                        <td>1885424</td>
                        <td style="max-width: 100px;"><span width="100px">Trung Ngai 5, thi tran yen lap, Yên Lập, Phú Thọ</span></td>
                        <td>Đang thử việc</td>
                    </tr>
                    <tr>
                        <td>NV-289995</td>
                        <td>Hoàng Hải Đăng</td>
                        <td>Nam</td>
                        <td>7/12/2000</td>
                        <td>058954656</td>
                        <td>haidangk63@gmail.com</td>
                        <td>Nhân viên</td>
                        <td>Phòng công nghệ</td>
                        <td>1885424</td>
                        <td style="max-width: 100px;"><span width="100px">Trung Ngai 5, thi tran yen lap, Yên Lập, Phú Thọ</span></td>
                        <td>Đang thử việc</td>
                    </tr>
                    <tr>
                        <td>NV-289995</td>
                        <td>Hoàng Hải Đăng</td>
                        <td>Nam</td>
                        <td>7/12/2000</td>
                        <td>058954656</td>
                        <td>haidangk63@gmail.com</td>
                        <td>Nhân viên</td>
                        <td>Phòng công nghệ</td>
                        <td>1885424</td>
                        <td style="max-width: 100px;"><span width="100px">Trung Ngai 5, thi tran yen lap, Yên Lập, Phú Thọ</span></td>
                        <td>Đang thử việc</td>
                    </tr>
                    <tr>
                        <td>NV-289995</td>
                        <td>Hoàng Hải Đăng</td>
                        <td>Nam</td>
                        <td>7/12/2000</td>
                        <td>058954656</td>
                        <td>haidangk63@gmail.com</td>
                        <td>Nhân viên</td>
                        <td>Phòng công nghệ</td>
                        <td>1885424</td>
                        <td style="max-width: 100px;"><span width="100px">Trung Ngai 5, thi tran yen lap, Yên Lập, Phú Thọ</span></td>
                        <td>Đang thử việc</td>
                    </tr>
                    <tr>
                        <td>NV-289995</td>
                        <td>Hoàng Hải Đăng</td>
                        <td>Nam</td>
                        <td>7/12/2000</td>
                        <td>058954656</td>
                        <td>haidangk63@gmail.com</td>
                        <td>Nhân viên</td>
                        <td>Phòng công nghệ</td>
                        <td>1885424</td>
                        <td style="max-width: 100px;"><span width="100px">Trung Ngai 5, thi tran yen lap, Yên Lập, Phú Thọ</span></td>
                        <td>Đang thử việc</td>
                    </tr>
                    <tr>
                        <td>NV-289995</td>
                        <td>Hoàng Hải Đăng</td>
                        <td>Nam</td>
                        <td>7/12/2000</td>
                        <td>058954656</td>
                        <td>haidangk63@gmail.com</td>
                        <td>Nhân viên</td>
                        <td>Phòng công nghệ</td>
                        <td>1885424</td>
                        <td style="max-width: 100px;"><span width="100px">Trung Ngai 5, thi tran yen lap, Yên Lập, Phú Thọ</span></td>
                        <td>Đang thử việc</td>
                    </tr>
                    <tr>
                        <td>NV-289995</td>
                        <td>Hoàng Hải Đăng</td>
                        <td>Nam</td>
                        <td>7/12/2000</td>
                        <td>058954656</td>
                        <td>haidangk63@gmail.com</td>
                        <td>Nhân viên</td>
                        <td>Phòng công nghệ</td>
                        <td>1885424</td>
                        <td style="max-width: 100px;"><span width="100px">Trung Ngai 5, thi tran yen lap, Yên Lập, Phú Thọ</span></td>
                        <td>Đang thử việc</td>
                    </tr>
                    <tr>
                        <td>NV-289995</td>
                        <td>Hoàng Hải Đăng</td>
                        <td>Nam</td>
                        <td>7/12/2000</td>
                        <td>058954656</td>
                        <td>haidangk63@gmail.com</td>
                        <td>Nhân viên</td>
                        <td>Phòng công nghệ</td>
                        <td>1885424</td>
                        <td style="max-width: 100px;"><span width="100px">Trung Ngai 5, thi tran yen lap, Yên Lập, Phú Thọ</span></td>
                        <td>Đang thử việc</td>
                    </tr>
                    <tr>
                        <td>NV-289995</td>
                        <td>Hoàng Hải Đăng</td>
                        <td>Nam</td>
                        <td>7/12/2000</td>
                        <td>058954656</td>
                        <td>haidangk63@gmail.com</td>
                        <td>Nhân viên</td>
                        <td>Phòng công nghệ</td>
                        <td>1885424</td>
                        <td style="max-width: 100px;"><span width="100px">Trung Ngai 5, thi tran yen lap, Yên Lập, Phú Thọ</span></td>
                        <td>Đang thử việc</td>
                    </tr>
                    <tr>
                        <td>NV-289995</td>
                        <td>Hoàng Hải Đăng</td>
                        <td>Nam</td>
                        <td>7/12/2000</td>
                        <td>058954656</td>
                        <td>haidangk63@gmail.com</td>
                        <td>Nhân viên</td>
                        <td>Phòng công nghệ</td>
                        <td>1885424</td>
                        <td style="max-width: 100px;"><span width="100px">Trung Ngai 5, thi tran yen lap, Yên Lập, Phú Thọ</span></td>
                        <td>Đang thử việc</td>
                    </tr>
                    <tr>
                        <td>NV-289995</td>
                        <td>Hoàng Hải Đăng</td>
                        <td>Nam</td>
                        <td>7/12/2000</td>
                        <td>058954656</td>
                        <td>haidangk63@gmail.com</td>
                        <td>Nhân viên</td>
                        <td>Phòng công nghệ</td>
                        <td>1885424</td>
                        <td style="max-width: 100px;"><span width="100px">Trung Ngai 5, thi tran yen lap, Yên Lập, Phú Thọ</span></td>
                        <td>Đang thử việc</td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="paging-bar">
            <div class="paging-numtotal">Hiển thị 1/1000 nhân viên</div>
            <div class="pagination">
                <div class="first-page"></div>
                <div class="pre-page"></div>
                <div class="page-number">
                    <div class="page-number-item actived">1</div>
                    <div class="page-number-item">2</div>
                    <div class="page-number-item">3</div>
                    <div class="page-number-item">4</div>
                </div>
                <div class="next-page"></div>
                <div class="last-page"> </div>
            </div>
            <div class="paging-current-numtotal">Hiển thị 1/10</div>
        </div>
    </div>
</body>
<script src="/lib/jquery-3.6.0.min.js"></script>
<script src="/js/common/common.js"></script>
<script src="/js/page/employee.js"></script>

</html>