<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common/main.css">
    <link rel="stylesheet" href="/css/common/pop-up.css">
    <link rel="stylesheet" href="/css/common/button.css">
    <link rel="stylesheet" href="/css/common/pop-up-warning.css">
    <title>Document</title>
</head>

<body>
    <div class="dark-background popup-background"></div>
    <div class="popup-warning middle">
        <div class="popup-header">
            <div class="popup-header-title">
                <span>Đóng form thông tin chung</span>
            </div>
            <div class="btn-close-popup">
                <button class="btn-close"></button>
            </div>
        </div>
        <div class="popup-content"></div>
        <div class="popup-footer"></div>
    </div>
</body>

</html>