<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/common/main.css">
    <link rel="stylesheet" href="../css/common/pop-up.css">
    <link rel="stylesheet" href="../css/common/button.css">
    <link rel="stylesheet" href="../css/common/pop-up-warning.css">
    <title>Document</title>
</head>

<body>
    <div class="dark-background popup-background"></div>
    <div class="popup-warning middle">
        <div class="popup-header">
            <div class="popup-header-title">
                <span>Đóng form thông tin chung</span>
            </div>
            <div class="btn-close-popup">
                <button class="btn-close"></button>
            </div>
        </div>
        <div class="popup-warning-content">
            <div class="popup-warning-content__icon"></div>
            <div class="popup-warning-content__text">
                <span>
                    Bạn có chắc muốn đóng form nhập <b>"Thông tin chung của thủ tục 603"</b> hay không?
                </span>
            </div>
        </div>
        <div class="popup-footer">
            <button class="m-btn btn-cancel">Tiếp tục nhập</button>
            <button class="m-btn btn-save">
                <span>Đóng</span>
            </button>
        </div>
    </div>
</body>

</html>