<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/common/main.css">
    <link rel="stylesheet" href="../css/common/pop-up.css">
    <link rel="stylesheet" href="../css/common/button.css">
    <link rel="stylesheet" href="../css/common/pop-up-listaddnew.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
    <title>List Add New</title>
</head>

<body>
    <div class="dark-background popup-background"></div>
    <div class="popup popup-listaddnew-size middle">
        <div class="popup-header">
            <div class="btn-close-popup">
                <button class="btn-close"></button>
            </div>
            <div class="popup-header-title">
                <span>Danh sách hồ sơ đề nghị</span>
            </div>
        </div>
        <div class="popup-listaddnew-content">
          <div class="btn-popup-listaddnew">
            <button class="m-btn btn-addnew"> + Thêm mới hồ sơ đề nghị</button>
          </div>
          <div class="popup-listaddnew-item">
            <div class="popup-listaddnew__icon"></div>
            <div class="popup-listaddnew__text">Hồ sơ số 1</div>
            <button class="popup-listaddnew__icon-delete">
              <i class="far fa-trash-alt"></i>
            </button>
          </div>
          <div class="popup-listaddnew-item popup-listaddnew-item-last">
            <div class="popup-listaddnew__icon"></div>
            <div class="popup-listaddnew__text">Hồ sơ số 1</div>
            <button class="popup-listaddnew__icon-delete">
              <i class="far fa-trash-alt"></i>
            </button>
          </div>
        </div>
        <div class="popup-footer">
            <button class="m-btn btn-save">
                <span>Đóng</span>
            </button>
        </div>
    </div>
</body>

</html>