.content {
    position: absolute;
    top: 51px;
    left: 221px;
    right: 0;
    bottom: 0;
    transition: 0.5s;
    padding: 0 16px;
    /* float: left;
    width: calc(100% - 253px);
    height: calc(100vh - 61px);
    background-color: #fff;
    padding: 0 16px;
    transition: 0.5s; */
}

.content .header-content {
    display: flex;
    align-items: center;
    padding: 16px 0 16px 0;
}

.content .header-content .title {
    font-size: 20px;
    font-weight: bold;
}

.content .header-content .content-feature {
    position: absolute;
    right: 16px;
}

.content .paging-bar {
    display: flex;
    align-items: center;
    height: 56px;
    width: 100%;
    flex: 3;
}

.content .paging-bar .paging-numtotal {
    flex: 1;
}

.content .paging-bar .pagination {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 56px;
}

.content .paging-bar .paging-current-numtotal {
    text-align: right;
    flex: 1;
}

.content .paging-bar .pagination .first-page {
    width: 25px;
    height: 25px;
    background-image: url(/content/icon/btn-firstpage.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.content .paging-bar .pagination .pre-page {
    width: 25px;
    height: 25px;
    background-image: url(/content/icon/btn-prev-page.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.content .paging-bar .pagination .next-page {
    width: 25px;
    height: 25px;
    background-image: url(/content/icon/btn-next-page.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.content .paging-bar .pagination .last-page {
    width: 25px;
    height: 25px;
    background-image: url(/content/icon/btn-lastpage.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.content .paging-bar .pagination .page-number {
    display: flex;
    align-items: center;
    margin: 0 5px;
}

.content .paging-bar .pagination .page-number .page-number-item {
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #bbb;
    margin: 0 5px;
    cursor: pointer;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.arrow-white {
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.double-arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}

.actived {
    color: #fff;
    background-color: #019160;
}

.right {
    transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
}