.dialog-background {
    z-index: 95;
}

.dialog {
    z-index: 500;
    background-color: #fff;
    border-radius: 4px;
    width: 800px;
    height: calc(100vh - 48px);
    overflow: auto;
    box-shadow: 0 0 10px gray;
    box-sizing: border-box;
}

.dialog .dialog-header {
    display: flex;
    width: 100%;
    height: 80px;
}

.dialog .dialog-header .dialog-header-title {
    text-transform: uppercase;
    padding: 24px;
    width: 100%;
    font-size: 20px;
}

.dialog .dialog-header .btn-close-dialog {
    position: absolute;
    right: 0;
}

.dialog .dialog-content {
    display: flex;
    width: calc(100% - 48px);
    height: calc(752px - 27px);
    flex: 7;
    padding: 0 24px 24px 24px;
}

.dialog .dialog-content .emp-avatar {
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: center;
}

.dialog .dialog-content .emp-avatar .emp-avatar-img {
    background-image: url(../../content/icon/avatar-default.png);
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: contain;
}

.dialog .dialog-content .emp-info {
    flex: 5;
}

.dialog .dialog-content .emp-info .emp-info-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex: 10;
}

.dialog .dialog-content .emp-info .emp-info-content .emp-info-general {
    display: flex;
    flex: 6;
}

.emp-info-content .emp-info-general .emp-info-general-left {
    flex: 3;
}

.emp-info-general-title,
.emp-info-general-title {
    text-transform: uppercase;
    font-size: 15px;
}

.emp-info-general-title .title-line {
    background-color: #019160;
    height: 4px;
    width: 80px;
    margin: 6px 0;
}

.emp-info-general-left .emp-info-general-item {
    margin-right: 16px;
}

.emp-info-general-right .emp-info-general-item p,
.emp-info-general-left .emp-info-general-item p {
    margin: 0 0 4px 0;
    font-size: 13px;
}

.emp-info-general-right .emp-info-general-item p span,
.emp-info-general-left .emp-info-general-item p span {
    color: red;
}

.emp-info-general-right .emp-info-general-item input,
.emp-info-general-left .emp-info-general-item input {
    box-sizing: border-box;
    margin-bottom: 16px;
    width: 100%;
    height: 40px;
}

.emp-info-general-right .emp-info-general-item input:hover,
.emp-info-general-left .emp-info-general-item input:hover {
    border: 1px solid #019160;
}

.emp-info-general-right .emp-info-general-item input:focus,
.emp-info-general-left .emp-info-general-item input:focus {
    border: 1px solid #019160;
}

.emp-info-general-right .emp-info-general-item {
    position: relative;
    box-sizing: border-box;
}

.emp-info-general-item .salary-currency {
    position: absolute;
    right: 16px;
    top: 32px;
    font-style: italic;
}

.emp-info-content .emp-info-general .emp-info-general-right {
    flex: 3;
}

.dialog .dialog-content .emp-info .emp-info-content .emp-info-job {
    flex: 4;
}

.dialog .dialog-footer {
    width: 100%;
    height: 60px;
    background-color: #E9EBEE;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.dialog .dialog-footer .btn-save i {
    margin-right: 5px;
}