.grid {
    width: 100%;
    overflow: auto;
    margin-top: 10px;
}

table th,
td {
    border-bottom: 1px solid #bbb;
    padding: 10px 16px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: 0.22s;
}

table tbody tr:hover {
    background-color: #00FFFF;
}

table tbody tr:hover {
    background-color: #00ffff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}