.navbar {
    position: absolute;
    top: 51px;
    width: 220px;
    height: calc(100vh - 51px);
    background-color: #fff;
    border-right: 1px solid #e5e5e5;
    transition: 0.5s;
}

.navbar .navbar-content {
    width: 100%;
}

.navbar .navbar-content .toggle-navbar {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: flex-end;
}

.btn-toggle-navbar {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #fff;
}

.btn-toggle-navbar:hover {
    background-color: #e5e5e5;
}

.navbar .navbar-content .nav-item {
    display: flex;
    padding-left: 16px;
    height: 44px;
    line-height: 44px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.22s;
    color: #000;
}

.navbar .navbar-content .nav-item:hover {
    color: #fff;
    background-color: #019160;
}

.navbar .navbar-content .nav-item .nav-item-icon {
    width: 20px;
    height: 20px;
    align-self: center;
    margin-right: 10px;
}

.navbar .navbar-content .nav-item .nav-item-icon i {
    position: absolute;
    font-size: 16px;
    margin-top: 2px;
}

.navbar .navbar-content .nav-item .nav-item-text {
    font-size: 15px;
}

.actived {
    color: #fff !important;
    background-color: #019160;
}